## DHV Quiz 4 Question 1 Solutions

<a href="https://colab.research.google.com/github/uqglmn/dhv/blob/main/Quiz_4_Q1_Solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Canvas Quiz Instructions:

In this quiz, assume that **numpy is imported as np**, **pandas is imported as pd**, and **datetime is imported as dt**. Your answers will be marked automatically by python.

To complete the quiz, write python code on your computer. Then copy-paste to the provided textboxes **the relevant parts of your code only, in plain text**.
Your answers will be tested on modified data sets.

### Question 1

#### Version Q11

The CSV file https://raw.githubusercontent.com/uqglmn/dhv/main/q4/london.csv contains London weather data from 1979 to 2020.
Read this CSV file into a single pandas DataFrame weather. Then:

- Find the **mean monthly temperature** and combine this data into a single pandas Series ``mean_monthly_temp``
- Find the **mean seasonal temperature** and combine this data into a single pandas Series ``mean_seasonal_temp``

Round your numerical data to 1 decimal point precision.

Use these seasons' dates:

- Spring: March 20 to June 20
- Summer: June 21 to September 22
- Autumn: September 23 to December 21
- Winter: December 22 to March 19

The Series ``mean_monthly_temp`` should have 12 rows and the following head:

```
month
January      5.2
February     5.4
March        7.6
April       10.1
May         13.4
Name: mean_temp, dtype: float64
```

The Series ``mean_seasonal_temp`` should have the following structure:

```
season
Autumn     9.6
Spring    12.2
Summer    17.9
Winter     5.7
Name: mean_temp, dtype: float64
```

Points:

- 1 point for the correct Series ``mean_monthly_temp``.
- 1 point for the correct Series ``mean_seasonal_temp``.

Write your python code that completes this task in the textbox below, in plain text. <br>
There should be no import and print statements in your code. Do not write any comments.

#### Version Q12

The CSV file https://raw.githubusercontent.com/uqglmn/dhv/main/q4/london.csv contains London weather data from 1979 to 2020.
Read this CSV file into a single pandas DataFrame weather. Then:

- Find the **minimum monthly temperature** and combine this data into a single pandas Series ``min_monthly_temp``
- Find the **mean minimum seasonal temperature** and combine this data into a single pandas Series ``mean_min_seasonal_temp``

Round your numerical data to 1 decimal point precision.

Use these seasons' dates:

- Spring: March 20 to June 20
- Summer: June 21 to September 22
- Autumn: September 23 to December 21
- Winter: December 22 to March 19

The Series ``min_monthly_temp`` should have 12 rows and the following head:

```
month
January    -10.1
February    -9.6
March       -5.1
April       -3.1
May         -0.9
Name: min_temp, dtype: float64
```

The Series ``mean_min_seasonal_temp`` should have the following structure:

```
season
Autumn     6.3
Spring     7.8
Summer    13.2
Winter     2.6
Name: min_temp, dtype: float64
```

Points:

- 1 point for the correct Series ``min_monthly_temp``.
- 1 point for the correct Series ``mean_min_seasonal_temp``.

Write your python code that completes this task in the textbox below, in plain text. <br>
There should be no import and print statements in your code. Do not write any comments.

#### Version Q13

The CSV file https://raw.githubusercontent.com/uqglmn/dhv/main/q4/london.csv contains London weather data from 1979 to 2020.
Read this CSV file into a single pandas DataFrame weather. Then:

- Find the **maximum monthly temperature** and combine this data into a single pandas Series ``mean_monthly_temp``
- Find the **mean maximum seasonal temperature** and combine this data into a single pandas Series ``mean_max_seasonal_temp``

Round your numerical data to 1 decimal point precision.

Use these seasons' dates:

- Spring: March 20 to June 20
- Summer: June 21 to September 22
- Autumn: September 23 to December 21
- Winter: December 22 to March 19

The Series ``max_monthly_temp`` should have 12 rows and the following head:

```
month
January     15.4
February    20.1
March       22.8
April       28.5
May         30.7
Name: max_temp, dtype: float64
```

The Series ``mean_max_seasonal_temp`` should have the following structure:

```
season
Autumn    12.8
Spring    16.8
Summer    22.6
Winter     8.9
Name: max_temp, dtype: float64
```

Points:

- 1 point for the correct Series ``max_monthly_temp``.
- 1 point for the correct Series ``mean_max_seasonal_temp``.

Write your python code that completes this task in the textbox below, in plain text. <br>
There should be no import and print statements in your code. Do not write any comments.

### Solutions

#### Python code

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
weather = pd.read_csv("https://raw.githubusercontent.com/uqglmn/dhv/main/q4/london.csv")

weather["date"] = pd.to_datetime(weather["date"], format='%Y%m%d')
weather.set_index("date", inplace=True)
weather["month"] = weather.index.month
weather["day"] = weather.index.day

months_dict = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 
               7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}

season_dict = {0:"Winter", 1:"Spring", 2:"Summer", 3:"Autumn"}

# this is a modified code from Notebook 2.9, Birthrate Data Example
days = np.array([dt.datetime(2000, month, day) for (month, day) in (weather[["month","day"]].values)])

weather["season"] = "Winter"
weather.loc[(days >= dt.datetime(2000, 3, 20)) & (days < dt.datetime(2000, 6, 21)), "season"] = "Spring"
weather.loc[(days >= dt.datetime(2000, 6, 21)) & (days < dt.datetime(2000, 9, 23)), "season"] = "Summer"
weather.loc[(days >= dt.datetime(2000, 9, 23)) & (days < dt.datetime(2000, 12, 22)), "season"] = "Autumn"

# monthly temperatures

mean_monthly_temp = weather.groupby("month")["mean_temp"].mean().round(1).rename(months_dict)
min_monthly_temp = weather.groupby("month")["min_temp"].min().round(1).rename(months_dict)
max_monthly_temp = weather.groupby("month")["max_temp"].max().round(1).rename(months_dict)

# seasonal temperatures

mean_seasonal_temp = weather.groupby("season")["mean_temp"].mean().round(1)
mean_min_seasonal_temp = weather.groupby("season")["min_temp"].mean().round(1)
mean_max_seasonal_temp = weather.groupby("season")["max_temp"].mean().round(1)

#### Q11 Answers

In [3]:
mean_monthly_temp

month
January       5.2
February      5.4
March         7.6
April        10.1
May          13.4
June         16.5
July         18.8
August       18.5
September    15.7
October      12.1
November      8.1
December      5.9
Name: mean_temp, dtype: float64

In [4]:
mean_seasonal_temp

season
Autumn     9.6
Spring    12.2
Summer    17.9
Winter     5.7
Name: mean_temp, dtype: float64

#### Q12 Answers

In [5]:
min_monthly_temp

month
January     -10.1
February     -9.6
March        -5.1
April        -3.1
May          -0.9
June          2.9
July          6.7
August        5.7
September     3.3
October      -2.5
November     -7.0
December    -11.8
Name: min_temp, dtype: float64

In [6]:
mean_min_seasonal_temp

season
Autumn     6.3
Spring     7.8
Summer    13.2
Winter     2.6
Name: min_temp, dtype: float64

#### Q13 Answers

In [7]:
max_monthly_temp

month
January      15.4
February     20.1
March        22.8
April        28.5
May          30.7
June         36.7
July         37.9
August       37.9
September    32.8
October      28.3
November     18.5
December     16.6
Name: max_temp, dtype: float64

In [8]:
mean_max_seasonal_temp

season
Autumn    12.8
Spring    16.8
Summer    22.6
Winter     8.9
Name: max_temp, dtype: float64

### Check your grades

Run this code to get your grade breakdown:

In [ ]:
stud_id = int(input("Enter your student ID: "))
df = pd.read_csv("https://raw.githubusercontent.com/uqglmn/dhv/main/q4/Q4Q1.csv")
stud = df[df["sis_id"]==stud_id]
print(f"Q1 points: {stud.iloc[0,1]} out of 2. Breakdown:")
print(stud.iloc[0,2])

Use the cell below to enter and check your submitted code:

In [ ]:
# write your solution here